{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <form id="form" method="post" action="{% url 'make_payment' %}">
                {% csrf_token %}
                <div id="user-info">
                    <div class="form-field">
                        <input required class="form-control" type="text" name="name" placeholder="Name">
                    </div>
                    <div class="form-field">
                        <input required class="form-control" type="text" name="email" placeholder="Email">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="address" placeholder="Address">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="city" placeholder="City">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="state" placeholder="State">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="zipcode" placeholder="Zipcode">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="country" placeholder="Country">
                    </div>
                </div>

                <hr>
                <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
            </form>
        </div>
        <br>
    </div>

    <div class="col-lg-6">
        <div class="box-element">
            <a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
            <hr>
            <h3>Order Summary</h3>
            <hr>
            <h5>Items: {{ quantity_total }}</h5>
            {% for item in items %}
            <div class="cart-row">
                <div style="flex: 2">
                    <p>{{ item.product.title }}</p>
                </div>
                <div style="flex: 1">
                    <p>${{ item.product.price }}</p>
                </div>
                <div style="flex: 1">
                    <p class="quantity">x{{ item.quantity }}</p>
                </div>
            </div>
            <hr>
            {% endfor %}
            <h3><strong>
                    <div style="flex: 1">${{ cart_total|floatformat:2 }}</div>
                </strong></h3>
        </div>
    </div>
</div>

{% endblock %}